{% extends "store/base.html" %}

{% block content %}

<div class="container mt-5">

<h3>Your Cart</h3>

{% if items %}

<div class="table-responsive">
    <table class="table align-middle cart-table">

        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

        {% for item in items %}

        <tr>

            <td>
                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" width="60" class="cart-img">
                {% endif %}
            </td>

            <td>{{ item.product.name }}</td>

            <td>₹ {{ item.product.price }}</td>

            <td>
                <div class="qty-cart-wrap">
                    <!-- ➖ -->
                    <a href="{% url 'decrease_quantity' item.product.id %}" 
                    class="btn btn-sm btn-outline-secondary">-</a>

                    <span class="mx-2">{{ item.quantity }}</span>

                    <!-- ➕ -->
                    <a href="{% url 'increase_quantity' item.product.id %}" 
                    class="btn btn-sm btn-outline-secondary">+</a>
                </div>
            </td>

            <td>
                ₹ {{ item.product.price|floatformat:2 }} × {{ item.quantity }}
            </td>

            <td>
                <a href="{% url 'remove_from_cart' item.product.id %}"
                class="btn btn-sm btn-danger"
                onclick="return confirm('Are you sure you want to remove this item?')">
                    Remove
                </a>
            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>
</div>

<h4 class="mt-3">Total: ₹ {{ total }}</h4>

<a href="{% url 'checkout' %}" class="btn btn-success mt-3 w-100 cart-checkout-btn">
    Proceed to Checkout
</a>

{% else %}

<p>Your cart is empty.</p>

{% endif %}


</div>

{% endblock %}