{% extends "store/auth_base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/pages/auth.css' %}">
{% endblock %}

{% block content %}

<div class="login-page">

  <div class="login-card">

    <div class="text-center">
      <img src="{% static 'store/images/logo.png' %}"
           alt="PreetCraft Studio"
           class="login-logo">
    </div>

    <h2 class="login-title">Welcome Back</h2>

    <p class="login-subtitle">
      Sign in to continue shopping with PreetCraft Studio ✨
    </p>

    {% if form.errors %}
    <div class="alert alert-danger mb-3">
      Invalid username or password.
    </div>
    {% endif %}

    <div class="social-login mt-3">
        <a href="/accounts/google/login/" class="google-login-btn">
            <span class="google-icon">G</span>
            <span>Continue with Google</span>
        </a>
    </div>

    <div class="text-center my-3">or</div>

    <form method="post"
          action="{% url 'store:login' %}"
          class="custom-auth-form">

      {% csrf_token %}

      <div class="mb-3">
        <label>Username</label>
        {{ form.username }}
      </div>

      <div class="mb-3">
        <label>Password</label>
        {{ form.password }}
      </div>

      <button type="submit" class="login-btn">
        Sign In
      </button>

    </form>

    <div class="login-bottom auth-bottom-text">
      Don’t have an account?
      <a href="{% url 'store:signup' %}">
        Create Account
      </a>
    </div>

  </div>

</div>

{% endblock %}