{% extends 'store/base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- Heading -->
    {% if query %}
        <h4 class="mb-4">
            Search Results for:
            <span class="text-primary">"{{ query }}"</span>
        </h4>
    {% else %}
        <h4 class="mb-4">All Products</h4>
    {% endif %}

    <!-- Products Found -->
    {% if products %}

    <div class="row g-4">

        {% for product in products %}

        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3">

            <div class="card h-100 shadow-sm">

                <!-- Image -->
                <a href="{% url 'product_detail' product.id %}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}"
                             class="card-img-top search-card-img"
                             
                    {% else %}
                        <img src="https://via.placeholder.com/300x220"
                             class="card-img-top search-card-img">
                    {% endif %}
                </a>

                <div class="card-body text-center">

                    <h5 class="product-list-title">{{ product.name }}</h5>

                    <p class="text-success fw-bold mb-2">
                        ₹ {{ product.price }}
                    </p>

                    <a href="{% url 'product_detail' product.id %}"
                       class="btn btn-dark btn-sm w-100">
                       View Product
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <!-- No Results -->
    <div class="text-center mt-5">

        <h3 class="text-danger">No products found</h3>

        <p>Try searching for:</p>

        <div class="d-flex justify-content-center gap-2 flex-wrap">

            <a href="/search/?q=shoes" class="btn btn-outline-primary btn-sm">Shoes</a>

            <a href="/search/?q=watch" class="btn btn-outline-primary btn-sm">Watch</a>

            <a href="/search/?q=mobile" class="btn btn-outline-primary btn-sm">Mobile</a>

            <a href="/search/?q=shirt" class="btn btn-outline-primary btn-sm">Shirt</a>

        </div>

    </div>

    {% endif %}

</div>

{% endblock %}