{% extends "store/auth_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/auth/password-reset.css' %}">
{% endblock %}

{% block content %}

<div class="reset-wrapper">

    <div class="reset-card text-center">

        <div class="success-icon">
            ✓
        </div>

        <h2 class="reset-title">
            Password Updated
        </h2>

        <p class="reset-subtitle">
            Your password has been changed successfully.
        </p>

        <a href="{% url 'store:login' %}" class="reset-btn d-flex align-items-center justify-content-center text-decoration-none">
            Login Now
        </a>

    </div>

</div>

{% endblock %}